

<div class="grid container">
  <app-menu-item [recipe]="recipe"></app-menu-item>
  <app-menu-item [recipe]="recipe"></app-menu-item>
  <app-menu-item [recipe]="recipe"></app-menu-item>
  <app-menu-item [recipe]="recipe"></app-menu-item>
  <app-menu-item [recipe]="recipe"></app-menu-item>
  <app-menu-item [recipe]="recipe"></app-menu-item>
  <app-menu-item [recipe]="recipe"></app-menu-item>
  <app-menu-item [recipe]="recipe"></app-menu-item>
  <app-menu-item [recipe]="recipe"></app-menu-item>
  <app-menu-item [recipe]="recipe"></app-menu-item>
  <app-menu-item [recipe]="recipe"></app-menu-item>
</div>
